div.landing-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.landing-container button {
    font-size: 1.5rem;

    height: 4rem;
    width: 10rem;

    border: white 3px solid;
    border-right: none;
    border-left: none;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 5px;
}

div.landing-container button:hover, div.landing-container button:focus {
    border-width: 5px;
}

div.landing-container p.disclaimer {
    position: absolute;
    bottom: 0;
}
